* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Glory", sans-serif;
}

:root {
  --size-normal: 8px;
  --size-half: 4px;
  --size-double: 16px;
}

@media screen and (hover: none) and (max-width: 600px) {
  :root {
    --size-normal: 4px;
    --size-double: 8px;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  height: 100vh;
  background-color: rgb(236, 236, 236);
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  background-color: white;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
}

.level {
  display: flex;
  gap: 4px;
  margin-block: 4px;
  align-items: end;
}
.level .level-indicator {
  flex: 1;
  height: 4px;
  border-radius: 2px;
}
.level .level-indicator:nth-child(1) {
  background-color: #005485;
}
.level .level-indicator:nth-child(2) {
  background-color: #006199;
}
.level .level-indicator:nth-child(3) {
  background-color: #006ead;
}
.level .level-indicator:nth-child(4) {
  background-color: #007bc2;
}
.level .level-indicator:nth-child(5) {
  background-color: #0088d6;
}
.level .level-indicator:nth-child(6) {
  background-color: #0095eb;
}

.level[data-level="5"] .level-indicator:nth-child(6) {
  opacity: 0;
}

.level[data-level="4"] .level-indicator:nth-child(5), .level[data-level="4"] .level-indicator:nth-child(6) {
  opacity: 0;
}

.level[data-level="3"] .level-indicator:nth-child(4), .level[data-level="3"] .level-indicator:nth-child(5), .level[data-level="3"] .level-indicator:nth-child(6) {
  opacity: 0;
}

.level[data-level="2"] .level-indicator:nth-child(3), .level[data-level="2"] .level-indicator:nth-child(4), .level[data-level="2"] .level-indicator:nth-child(5), .level[data-level="2"] .level-indicator:nth-child(6) {
  opacity: 0;
}

.level[data-level="1"] .level-indicator:nth-child(2), .level[data-level="1"] .level-indicator:nth-child(3), .level[data-level="1"] .level-indicator:nth-child(4), .level[data-level="1"] .level-indicator:nth-child(5), .level[data-level="1"] .level-indicator:nth-child(6) {
  opacity: 0;
}

#personal .picture-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#personal #profile-picture {
  image-rendering: auto;
  margin-bottom: 16px;
  width: 88%;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: -6px -6px 16px 4px rgb(255, 255, 255), 6px 6px 16px 4px rgb(200, 204, 212);
}
#personal address {
  font-style: normal;
}
#personal .name {
  font-size: 2em;
}
#personal .row {
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  display: flex;
  gap: 8px;
}
#personal .row > * {
  flex: 1;
  font-size: 1.1em;
  text-align: center;
  padding-block: 12px;
  color: #00a2ff;
  text-decoration: underline;
}
#personal .row .tag {
  margin: 0;
}

#CV {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--size-double);
  padding-inline: var(--size-double);
  padding-block: 16px;
}
#CV #sidebar {
  flex: 1;
}
#CV #qualifications {
  flex: 2;
}

.qualification-holder .qualification-header {
  display: flex;
  justify-content: space-between;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  font-weight: bold;
}
.qualification-holder .qualification-details {
  border-left: 1px solid #00a2ff;
  padding: 8px 0 0 4px;
}
.qualification-holder li {
  border-left: 1px solid #00a2ff;
  padding-left: 4px;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  text-align: justify;
}
.qualification-holder .software-highlight {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #00a2ff;
          text-decoration-color: #00a2ff;
}

.bubble {
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(-4deg, rgb(255, 255, 255), rgb(220, 220, 222));
  box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgb(200, 204, 212);
}
.bubble .caption {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 16px;
  -webkit-padding-end: 8px;
          padding-inline-end: 8px;
  border: 0px solid transparent;
  border-bottom: 1px solid #00a2ff;
}

.technical-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 8px;
}
.technical-skills .tag {
  margin: 0;
}

.skill-card {
  display: flex;
  flex-grow: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 50%;
  gap: 8px;
  align-items: center;
}
.skill-card .icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.skill-card .icon-java {
  background-image: url("../src/img/skill/Logo_Java.png");
}
.skill-card .icon-spring {
  background-image: url("../src/img/skill/Logo_Spring.png");
}
.skill-card .icon-html {
  background-image: url("../src/img/skill/Logo_HTML5.png");
}
.skill-card .icon-sass {
  background-image: url("../src/img/skill/Logo_SASS.png");
}
.skill-card .icon-sql {
  background-image: url("../src/img/skill/Logo_MySQL.png");
}
.skill-card .icon-python {
  background-image: url("../src/img/skill/Logo_python.png");
}
.skill-card .icon-node {
  background-image: url("../src/img/skill/Logo_nodejs.png");
}
.skill-card .icon-javaScript {
  background-image: url("../src/img/skill/Logo_JS.png");
}
.skill-card .icon-git {
  background-image: url("../src/img/skill/Logo_Git.png");
}
.skill-card .icon-json {
  background-image: url("../src/img/skill/Logo_JSON.png");
}
.skill-card .icon-wp {
  background-image: url("../src/img/skill/Logo_WordPress.png");
}
.skill-card .icon-thymeleaf {
  background-image: url("../src/img/skill/Logo_Thymeleaf.png");
}
.skill-card .icon-docker {
  background-image: url("../src/img/skill/Logo_Docker.png");
}
.skill-card .skill {
  flex: 1;
  text-align: center;
}

@media screen and (orientation: portrait) {
  #CV {
    flex-direction: column;
  }
}