#personal

  address
    font-style: normal

  .name
    font-size: 2em

  .row
    margin-block-start: 8px
    display: flex
    gap: 8px

    > *
      flex: 1
      font-size: 1.1em
      text-align: center