.qualification-holder

  .qualification-header
    display: flex
    justify-content: space-between
    margin-block-start: 16px
    font-weight: bold

  .qualification-details
    border-left: 1px solid $color-accent
    padding: 8px 0 0 4px

  li
    border-left: 1px solid $color-accent
    padding-left: 4px
    margin-block-start: 8px

  .software
    text-decoration: 1px underline $color-accent
