*
  padding: 0
  margin: 0
  box-sizing: border-box
  user-select: none

li
  list-style: none
  margin-bottom: 8px

  &:last-of-type
    margin-bottom: 0

html
  height: 100vh
  width: 100vw
  background-color: rgb(236, 236, 236)
  // background-image: radial-gradient(200vmax 120vmin at 50% 100%, rgb(194, 208, 223), rgb(255, 255, 255))

body
  width: 100%
  display: flex
  align-items: center
  justify-content: center

#CV
  width: 100%
  max-width: 1200px
  display: flex
  flex-wrap: wrap
  align-items: stretch
  gap: 32px
  padding: 16px

  #sidebar
    flex: 1

  #qualifications
    flex: 3

// #CV
//   width: 100%
//   max-width: 1000px
//   display: grid
//   grid-template-columns: repeat(auto-fit, minmax(200px,auto))
//   gap: 32px
//   padding: 16px

//   #sidebar

//   #qualifications

.bubble
  padding: 16px
  margin-bottom: 32px
  border-radius: 16px
  // background: linear-gradient(-8deg, rgb(220, 220, 222),rgb(255, 252, 250))
  background: linear-gradient(-4deg, rgb(255, 255, 255), rgb(220, 220, 222))
  box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgb(200, 204, 212)

  .caption
    width: fit-content
    text-transform: uppercase
    margin-bottom: 16px
    padding: 0 8px 0 4px
    border-radius: 0 0 8px 0
    border: 0px solid transparent
    border-bottom: 1px solid #00a2ff

.technical-skills
  display: flex
  flex-wrap: wrap
  align-items: stretch
  gap: 8px

.skill-card
  display: flex
  flex-grow: 1
  min-width: max-content
  max-width: 120px
  gap: 8px
  justify-content: space-between
  align-items: center
  background-color: white
  padding: 4px 8px
  border-radius: 8px
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2)

  .icon
    width: 20px
    height: 20px
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  .icon-java
    background-image: url("../src/img/skill/Logo_Java.png")

  .icon-html
    background-image: url("../src/img/skill/Logo_HTML5.png")

  .icon-sass
    background-image: url("../src/img/skill/Logo_SASS.png")

  .icon-sql
    background-image: url("../src/img/skill/Logo_MySQL.png")

  .icon-python
    background-image: url("../src/img/skill/Logo_python.png")

  .icon-node
    background-image: url("../src/img/skill/Logo_nodejs.png")

  .icon-javaScript
    background-image: url("../src/img/skill/Logo_JS.png")

  .icon-git
    background-image: url("../src/img/skill/Logo_Git.png")

  .icon-json
    background-image: url("../src/img/skill/Logo_JSON.gif")

  .icon-wp
    background-image: url("../src/img/skill/Logo_WordPress.png")

  .icon-thymeleaf
    background-image: url("../src/img/skill/Logo_Thymeleaf.png")

  .icon-docker
    background-image: url("../src/img/skill/Logo_Docker.png")

  .skill
    flex: 1
    text-align: center


@media screen and (orientation: portrait)
  #CV
    flex-direction: column